{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
{% if user.is_authenticated %}
  Hi {{ user.username }}!
<h1>Categories</h1>
     <div class="container">
         {% for i in object_list %}
             <div class="category_list_view">
             <h3><a href="{% url 'name' i.pk %}">{{ i.name }}</a></h3>
            </div>
         {% endfor %}
</div>
  <p><a href="{% url 'logout' %}">Log Out</a></p>
{% else %}
  <p>You are not logged in</p>
  <a href="{% url 'login' %}">Log In</a>
{% endif %}
{% endblock %}